doctype html(lang='en')
head
    meta(charset='UTF-8')   
    meta(name='viewport', content='width=device-width, initial-scale=1.0')   
    meta(http-equiv='X-UA-Compatible', content='ie=edge')  
    title Tutoria
    |    

    link(rel='stylesheet', href="/css/respuesta.css")
    
  body
    .page
      .container
        .brand
        h3
            strong Tutoría Creada               
            h5           
          a.btn(href='/../home') Volver al HOME
